.header-top{
    color: #5f5f5f;
    background-color: #ffffff; 
    font-size: 15px;   
    line-height: 25.3833px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: start;
    text-indent: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

::-moz-selection { /* Code for Firefox */
    color: #5f5f5f;
    background: #ffc23c;
}

::selection {
    color: #5f5f5f;
    background: #ffc23c;
}